/* Custom width for the modal */
.custom-popup-width .modal-dialog {
    max-width: 900px; /* Increased width for desktop */
  }
  
  /* Styles for the popup content */
  .popup-description {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .inner-popup-card {
    background-color: #2c2f33;
    color: #fff;
    /* border: 1px solid #444; */
    margin-bottom: 15px;
    text-align: center;
  }
  
  .inner-popup-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
    border-radius: 5px;
  }
  
  .inner-popup-title {
    font-size: 15px;  /* Increased font size for better readability */
    font-weight: bold;
    margin-top: 10px;
  }
  
  .popup-notes-heading {
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .popup-notes {
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .popup-notes li {
    margin-bottom: 5px;
  }
  
  /* Close button styles */
  .close-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
  }
  
  @media (max-width: 576px) {
    .inner-popup-card {
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .popup-notes {
      padding-left: 10px;
    }
  }
  